// ------ General statistics -------
.modal(style='position: relative;top: auto;left: auto;right: auto;margin: 0 auto 20px;z-index: 1;max-width: 100%;')
  .modal-header
    h3
      | General statistics
  .modal-body(ng-controller='TavernCtrl')
    div
      table.table.table-striped
        tr
            td
                | Registered users
            td
                | {{ stats.registered }}
        tr
            td
                | Active Users
            td
                | {{ stats.active }}
        tr
            td
                | Number of Parties
            td
                | {{ stats.parties }}
        tr
            td
                | Number of Guilds
            td
                | {{ stats.guilds }}
        tr
            td
                | Number of Challenges
            td
                | {{ stats.challenges }}
